/* resetting rules  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f0e2c5;
  color: #49281a;
  font-family: "Lato", sans-serif;
}

/* header section  */
header {
  border: 1px solid #000;
  text-align: center;
  padding: 50px 0;
  background-image: url(image/bgi.jpg), url(image/bg.jpg);
  background-position: -4% center, 105% center;
  background-size: 350px, 350px;
  background-repeat: no-repeat, no-repeat;
  position: relative;
  z-index: 0;
}

header h1 {
  font-family: "Playfair Display SC", serif;
  color: #49281a;
  margin-bottom: 20px;
  font-size: 3rem;
}

header p {
  font-family: "Lato", sans-serif;
  color: #49281a;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

/* header a {
  font-family: "Lato", sans-serif;
  padding: 20px;
  background-color: #49281a;
  line-height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 9px;
} */

header a {
  font-family: "Lato", sans-serif;
  display: inline-block;
  width: 200px;
  height: 60px;
  margin: 0 auto;
  padding: 10px;
  background-color: #49281a;
  line-height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  /* border: none;  */
  border-radius: 9px;
}

/* nav section  */
nav {
  /* border: 2px solid #000; */
  text-align: center;
  padding: 10px 0;
  background-color: #49281a;
  position: sticky;
  top: 0;
}
nav a {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 40px;
  font-family: "Lato", sans-serif;
  background-color: #49281a;
  color: #f0e2c5;
  /* padding: 10px 20px; */
  margin-right: 20px;
  text-decoration: none;
  border-radius: 9px;
}

/* our menu section  */
#menu,
#about,
#contact,
footer {
  /* border: 2px solid #000; */
  width: 90%;
  margin: 50px auto;
}
#menu h2,
#about h2,
#contact h2 {
  font-family: "Playfair Display SC", serif;
  color: #49281a;
  margin-bottom: 20px;
  font-size: 2rem;
}
.menu {
  /* border: 1px solid #000; */
  text-align: center;
}
.menu h3 {
  font-family: "Lato", sans-serif;
  color: #49281a;
  margin: 20px 0;
  text-align: left;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  border: 1px solid #49281a;
  width: 250px;
  padding: 15px;
  border-radius: 9px;
  /* display: inline-block; */
}
.card-img-top {
  max-width: 100%;
  border-radius: 9px 9px 0 0;
}
.card-body {
  text-align: center;
}
.card-title {
  padding: 10px 0;
}
.card-text {
  line-height: 1.5rem;
}
.price {
  font-weight: bold;
  font-style: italic;
}
.btn-order {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 0 0 9px 9px;
  margin-top: 10px;
}
/* about section  */
#about p,
#contact p {
  text-align: justify;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  color: #49281a;
  padding: 10px;
}
/* contact section  */
form {
  /* border: 1px solid #000; */
  width: 90%;
  margin: 20px auto;
  font-family: "Lato", sans-serif;
  color: #49281a;
}
form div {
  /* border: 1px solid #000; */
  padding: 20px 0;
}
.form-label {
  width: 250px;
  display: inline-block;
}
.form-control {
  width: 400px;
  background-color: #f0e2c5;
  border: none;
  outline: none;
  border-bottom: 1px solid #49281a;
}
.btn-send {
  width: 150px;
  height: 50px;
  background-color: #49281a;
  color: #f0e2c5;
  border-radius: 9px;
  border: none;
  margin-left: 250px;
  cursor: pointer;
}

/* footer section  */
footer p {
  font-family: "Lato", sans-serif;
  color: #49281a;
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #49281a;
  color: #f0e2c5;
  padding: 15px;
  border-radius: 9px;
  text-decoration: none;
}
